[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = For testing
[access "refs/*"]
	owner = group user/Nordblom72
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nordblom72
	label-Verified = -1..+1 group user/Nordblom72
	push = group user/Nordblom72
	read = group user/Nordblom72
	rebase = group user/Nordblom72
	removeReviewer = group user/Nordblom72
	submit = group user/Nordblom72
[access "refs/heads/*"]
	create = group user/Nordblom72
	push = +force group user/Nordblom72
	pushMerge = group user/Nordblom72
	read = group user/Nordblom72
	label-Code-Review = -2..+2 group Registered Users
	submit = group Registered Users
[access "refs/tags/*"]
	push = group user/Nordblom72
	push = +force group user/Nordblom72
